* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
}
.side-nav {
    position: fixed;
    width: 300px;
    background-color: black;
    height: 100vh;
    z-index: 1;
}
.side-nav-upper {
    color: white;
    margin-top: 30px;
}
.side-nav-upper h3 {
    font-size: 24px;
    margin-left: 20px;
}
.side-nav-content {
    margin-top: 25px;
}
.side-nav-items {
    display: flex;
    flex-direction: row;
    color: white;
    justify-items: center;
    padding: 15px;
    transition: .5s ease-out background-color;
}
.side-nav-items h3 {
    margin-top: 2px;
    margin-left: 15px;
}
.side-nav-items:hover {
    background-color: rgb(22, 22, 22);
    cursor: pointer;
}
.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.nav-bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    padding: 15px;
    z-index: 1;
    width: 100%;
}
.nav-leftest-content {
    margin-top: 13px;
    color: white;
}
.nav-right-content {
    margin-top: 3px;
    padding: 10px;
}
.nav-right-content a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}
.nav-right-content a:hover {
    border-bottom: 4px solid white;
}
.welcome {
    position: relative;
    background-image: url('./1369866.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    margin-left: 300px;
}
.welcome h1 {
    font-size: 45px;
    position: absolute;
    display: block;
    width: 100%;
    color: white;
    top: 40%;
    text-align: center;
}
.container {
    position: absolute;
    display: flex;
    width: 100%;
    top: 60%;
    justify-content: center;
    align-items: center;
}
.container button {
    border: none;
    padding: 20px;
    width: 150px;
    font-size: 25px;
    border-radius: 10px;
    transition: .5s ease-in-out background-color, .5s ease-in-out color;
}
.container button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(22, 22, 22);
}

.main-content {
    color: white;
    background-color: black;
    padding: 45px;
    margin-left: 400px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-right: 100px;
    border-radius: 15px;
    transition: .5s ease-out background-color;
}
.main-content:hover {
    background-color: rgb(22 ,22 ,22);
}
.main-content h1 {
    margin-bottom: 25px;
}
.main-content p {
    font-size: 20px;
}
.main-content button {
    margin-top: 30px;
    border: none;
    padding: 10px;
    width: 135px;
    font-size: 20px;
    border-radius: 10px;
    transition: .5s ease-in-out background-color, .5s ease-in-out color;
}
.main-content button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(14,14,14);
}
.footer {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 300px;
    margin-top: 100px;
    justify-content: space-between;
}
.left-footer-content {
    margin-left: 55px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}
.left-footer-content h3 {
    margin-bottom: 25px;
}
.right-footer-content {
    margin-right: 55px;
    margin-bottom: 25px;
}
.right-footer-content a {
    margin-top: 3px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
}
.right-footer-content li {
    list-style: none;
    margin-bottom: 5px;
}
.list {
    display: flex;
    flex-direction: row;
}
