* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-content-wrap {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 100px;
}
.nav-content-wrap h1 {
    margin-top: 5px;
}
.nav-content {
    padding: 15px;
    border-bottom: 5px solid transparent;
    transition: .5s ease-in-out border-bottom;
}
.nav-content:hover {
    border-bottom: 5px solid black;
    cursor: pointer;
}
.nav-item2 {
    margin-top: 2px;
}
.nav-item2 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.quick-links{
    position: absolute;
    top: 447px;
    left: 150px;
}
.contacts {
    position: absolute;
    left: 150px;
    bottom: 225px;
}
.quick-links h1, .contacts h1 {
    font-weight: bold;
    margin-bottom: 15px;
}
.link-container, .contacts-inside {
    display: flex;
    flex-direction: row;
    background-color: rgb(200, 200, 200);
}
.link, .linkl, .contact, .contactl {
    display: flex;
    flex-direction: row;
    width: 175px;
    justify-content: space-between;
    border: 5px solid black;
    border-right: none;
    padding: 10px;
    transition: .5s ease-out background-color, .5s ease-out color;
}
.linkl, .contactl {
    border-right: 5px solid black;
}
.link h3, .linkl h3, .contact h3, .contactl h3 {
    font-weight: bold;
}
.link:hover, .linkl:hover, .contact:hover, .contactl:hover {
    cursor: pointer;
    background: black;
    color: white;
}
.header {
    width: 100%;
    height: 525px;
}
.header-inside {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-left: 150px;
}
.header-left {
    align-items: center;
    justify-content: center;
}
.header-left h1 {
    font-weight: 1000;
    font-size: 64px;
}
.header-left p {
    font-size: 26px;
}
.header-button {
    display: inline-block;
    background: rgb(200, 200, 200);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 5px solid black;
    transition: .5s ease-out color, .5s ease-out background-color;
}
.header-button h2 {
    font-weight: bold;
}
.header-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
.header-right {
    margin-top: 100px;
    margin-left: 150px;
}
.container-wrapper {
    display: flex;
    flex-direction: row;
}
.projects {
    background-image: url(images/dot.webp);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgb(235, 235, 235);
}
.projects-inside {
    margin-top: 75px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
}
.projects-inside h1 {
    font-size: 46px;
    font-weight: bold;
}
.project-container, .project-container2 {
    overflow: hidden;
    border: 5px solid black;
    background: white;
    width: 700px;
    margin-top: 35px;
    box-shadow: 10px 10px 0px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 0px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px 1px rgba(0,0,0,0.75);
}
.project-container2 {
    margin-left: 50px;
}
.project-nav {
    border-bottom: 5px solid black;
    background-color: rgb(200, 200, 200);
    padding: 10px;
    text-align: center;
}
.project-nav h3 {
    font-weight: bold;
}
.project-image {
    height: 100px;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
.project-image img {
    filter: grayscale();
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.project-description {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}
.project-description h2 {
    font-weight: bold;
    margin-bottom: 5px;
}
.project-button {
    padding: 10px;
    border: 5px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: rgb(200, 200, 200);
    transition: .5s ease-out color, .5s ease-out background-color;
}
.project-button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.footer {
    height: 250px;
}
.footer-inside {
    margin-top: 85px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-wrapper {
    display: flex;
    flex-direction: column;
}
.icon:hover {
    cursor: pointer;
}
